<h2>{{ label }}</h2>

<cgp-playing-card rank="A"  suit="spades"   ></cgp-playing-card>
<cgp-playing-card rank="2"  suit="hearts"   ></cgp-playing-card>
<cgp-playing-card rank="3"  suit="clubs"    ></cgp-playing-card>
<cgp-playing-card rank="4"  suit="diamonds" ></cgp-playing-card>
<cgp-playing-card rank="5"  suit="spades"   ></cgp-playing-card>
<cgp-playing-card rank="6"  suit="hearts"   ></cgp-playing-card>
<cgp-playing-card rank="7"  suit="clubs"    ></cgp-playing-card>
<cgp-playing-card rank="8"  suit="diamonds" ></cgp-playing-card>
<cgp-playing-card rank="9"  suit="spades"   ></cgp-playing-card>
<cgp-playing-card rank="10" suit="hearts"   ></cgp-playing-card>
<cgp-playing-card rank="J"  suit="clubs"    ></cgp-playing-card>
<cgp-playing-card rank="Q"  suit="diamonds" ></cgp-playing-card>
<cgp-playing-card rank="K"  suit="spades"   ></cgp-playing-card>

