<h2>About this app</h2>

<p>
  This is a set of simple CSS Grid examples
  <a href="http://billodom.com/">I</a>
  originally created for a talk at the 2018
  <a href="https://craft-conf.com/">Craft Conference</a>
  called "CSS Grid: Get ready to fall in love" (although
  I've added a few things since then).
</p>

<p>
  Note: The examples are hosted in an Angular app that uses Sass, but that's
  just to make some things easier to build or demonstrate. None of the CSS Grid
  concepts are specific to Angular or Sass.
</p>

<p>
  You can find the latest version here:
  <a target="_blank" href="https://github.com/wnodom/css-grid-playground">
    CSS Grid Playground on Github
  </a>
</p>

