<h2>About this app</h2>

<p>
  This is a set of simple CSS Grid examples I
  (<a target="_blank" href="http://www.billodom.com/">Bill Odom</a>)
  originally created for a talk called
  "CSS Grid: Get ready to fall in love" at the 2018
  <a target="_blank" href="https://craft-conf.com/">Craft Conference</a>
  (although I've added a few things since then).
  You can find the latest version here:
</p>

<blockquote>
  <a target="_blank" href="https://github.com/wnodom/css-grid-playground">
    CSS Grid Playground on GitHub
  </a>
</blockquote>

<p>
  If you'd like to try the application without installing it locally,
  you can run it entirely within your browser via StackBlitz:
</p>

<blockquote>
  <a target="_blank" href="https://stackblitz.com/github/wnodom/css-grid-playground">
    CSS Grid Playground on StackBlitz
  </a>
</blockquote>

<p>
  Note: While the examples are hosted in an
  <a target="_blank" href="https://angular.io">Angular</a> app that uses
  <a target="_blank" href="https://sass-lang.com/">Sass</a>, that's
  just to make some things easier to build or demonstrate. None of the CSS Grid
  concepts are specific to Angular or Sass.
</p>
