<header>
  <a routerLink="/"><h1>{{ title }}</h1></a>
</header>

<nav>
  <a *ngFor="let example of examples"
    routerLinkActive="currentExample"
    [routerLink]="example.path"
  >
    {{ example.component.label || example.path }}
  </a>

  <hr />

  <a routerLink="illustrations" routerLinkActive="currentExample">Illustrations</a>
  <a routerLink="resources"     routerLinkActive="currentExample">Resources</a>
  <a routerLink="about"         routerLinkActive="currentExample">About</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

  <a target="_blank" href="http://www.billodom.com/">
    Bill
  </a>

  <a target="_blank" href="https://twitter.com/wnodom">
    Twitter
  </a>

  <a target="_blank" href="https://github.com/wnodom/css-grid-playground">
    GitHub
  </a>

  <a target="_blank" href="https://stackblitz.com/github/wnodom/css-grid-playground">
    StackBlitz
  </a>

</footer>
