html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.currentExample {
  font-weight: bold;
}





























.wheee {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

