html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

header, footer, nav {
  a {
    text-decoration: none;
    color: black;
  }
}

footer {
  a {
    color: grey;
  }

  // Separate footer links with bullet characters
  a:not(:last-child)::after {
    padding-left: 0.5em;
    padding-right: 0.5em;
    content: '\2022';
  }
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.currentSelection {
  font-weight: bold;
}

.disco {
  animation: disco 0.3s linear infinite alternate;
}

@keyframes disco {
  from { grid-gap: 0;    }
  to   { grid-gap: 50px; }
}
