:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  padding: 20px;
  background-color: cornsilk;
}

cgp-captioned-image {
  margin: 20px;
  max-width: 300px;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.25);
}

